/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styles */
body {
  background-color: #FFFFFF;
  color: #1F1F1F;
  font-family: Tahoma, sans-serif;
  line-height: 2;
}

h1, h2, h3 {
  color: #59355B;
}
